body {
    background-color:rgba(0, 0, 255, 0.88);
    font-family:verdana;
}

#containerTabela {
    border-radius:5px;
    background-color:white;
}

#tabelaEventos {
    text-align: center;
    border:solid; 
    border-radius:5px;
    font-size:40px;
    width:100%;
}

#tabelaEventos tr th {
    width:40%;
    border:solid;
}

#addEvento {
    width:100%;
}

#dialog {
    width:50%;
    height:80%;
    border-radius:5px;
}

#formJanela {
    text-align:center;
    border-radius:5px;
}